html {
	background-color: #b9d7f0;
}

.App {
	text-align: center;
	background-color: #b9d7f0;
}

.NavBar {
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	justify-content: space-around;
}

.MuiCard-root {
	overflow: hidden;
	background-color: hsl(0, 0%, 60%);
	box-shadow: 0 0 20px 2px hsl(0, 0%, 53%);
}

.imgContainer {
	overflow: hidden;
	height: 300px;
	width: 300px;
  
}

img {
 object-fit: cover;
 height: 100%;
	width: 100%;
  transform-origin: center center;
}

.MuiList-root {
	list-style: none;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 25px;
}

button.MuiButton-root {
	background-color: rgb(185, 215, 241);
	margin: 5px;
}
