html {
  background-color: #B9D7F0;
}

.App {
  text-align: center;
  background-color: #B9D7F0;
}

.NavBar {
  display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
}

.MuiCard-root {
  background-color: hsl(0, 0%, 60%);
  box-shadow: 0 0 20px 20px  hsl(0, 0%, 53%);
}

.MuiCard-root > img {
 max-width: 300px;
}

.MuiList-root {
  list-style: none;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 25px;
}

button.MuiButton-root {
  background-color: rgb(185, 215, 241);
  margin: 5px;
}