:root {
  --dove: #045073;
  --midnight: #3D3D49;
  --pollen: #DBC769;
  --oat: #FFFCF3;

}

 a > h1 {
  color: var(--oat);
  font-family: fantasy;
  direction: none;
 }
html {
	background-color: var(--dove);
}

.App {
	text-align: center;
	background-color: var(--dove);
}

.NavBar {
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	justify-content: space-around;
}

.MuiCard-root {
	overflow: hidden;
	background-color: var(--oat);
	box-shadow: 0 0 10px 2px var(--midnight);
}

.imgContainer {
	overflow: hidden;
	height: 300px;
	width: 300px;
  
}

img {
 object-fit: cover;
	width: 100%;
}

.MuiList-root {
	list-style: none;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 25px;
}

button.MuiButton-root {
  color: var(--pollen);
	background-color: var(--midnight);
	margin: 5px;
}
